**Hello World Program in Python**

---

In [0]:
print ("Hello World!!")

Hello World!!

In [0]:
a = "Hello World!!"
print(a)

Hello World!!

**String**
- combination of characters within the single or double quotes
 or it's a contiues series of characters surrounded by single or double quotes 
 
 ['hello' is the same as hello"]

---

In [0]:
a = "Hello World!!"
print(a)

print(type(a))

Hello World!!
<class 'str'>

**Index() Method**

The syntax of index() method for string is: str.index(sub[, start[, end]]). Indexing in string ( it start from 0 to n-1). 

 Square brackets [ ] can be used to access elements of the string

---

In [0]:
a = "Hello World"

print(a.index("e"))
print(a.index("World"))

1
6

The **find() method** finds the first occurrence of the specified value.

---

In [0]:
a = "Hello World!"
print(a.find("e"))

1

**Substring**. Get the characters from position 2 to position 5 (not included):

---

In [0]:
a = "Hello World"

print(a[1])
print(a[2:5])

e
llo

The **strip() method** removes any whitespace from the beginning or the end:

---

In [0]:
a = " Hello World ! "
print(a.strip()) #

Hello World !

The **len() method** returns the length of a string:

---

In [0]:
a = "Hello World !"
print(len(a))

13

The **lower() method** returns the string in lower case:

---

In [0]:
a = "Hello World !"
print(a.lower())

hello world !

The **upper() method** returns the string in upper case:

---

In [0]:
a = "Hello World !"
print(a.upper())

HELLO WORLD !

The **replace() method** replaces a string with another string:

---

In [0]:
a = "Hello World !"
print(a.replace("H",'J'))

Jello World !

The **split() method** splits the string into substrings if it finds instances of the separator:

---

In [1]:
a = "Hello,World! How-are you?"

# 使用默认分隔符（空格）
print(a.split())

# 使用逗号作为分隔符
print(a.split(','))

# 使用连字符作为分隔符
print(a.split('-'))

# 使用感叹号作为分隔符
print(a.split('!'))

# 使用多个字符 'o' 作为分隔符
print(a.split('o'))

['Hello,World!', 'How-are', 'you?']
['Hello', 'World! How-are you?']
['Hello,World! How', 'are you?']
['Hello,World', ' How-are you?']
['Hell', ',W', 'rld! H', 'w-are y', 'u?']

The **join() method** takes all items in an iterable and joins them into one string.


A string must be specified as the separator.

---

In [0]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

The **partition() method** searches for a specified string, and splits the string into a tuple containing three elements.

---

In [0]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

**String Formatting**

Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".

Let's say you have a variable called "name" with your user name in it, and you would then like to print(out a greeting to that user.)

---

**Example**:  This prints out "Hello, John!"

In [0]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

**Example ** : "This prints out "John is 23 years old."

---

In [0]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string. 

---


For example:

In [0]:
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

**Here are some basic argument specifiers you should know:**

---



**%s** - String (or any object with a string representation, like numbers)

**%d** - Integers

**%f** - Floating point numbers

**%.<number of digits>f** - Floating point numbers with a fixed amount of digits to the right of the dot.

**%x/%X -** Integers in hex representation (lowercase/uppercase)