# 1. Arithmetic Operator : 

---


Arithmetic operators are used with numeric values to perform common mathematical operations:
(https://www.w3schools.com/python/python_operators.asp)

In [0]:
# Declare the numeric variable
a=9
b=3

In [26]:
#1. Addition (+)
print(a+b)

12

In [27]:
#2. Subtraction (-)
print(a-b)

6

In [28]:
#3. Multiplication (*)
print(a*b)

27

In [29]:
#4. Division (/)
print(a/b)

3.0

In [30]:
#5. Modulus(%)
print(a%b)

0

In [31]:
#6. Exponentiation (**)
print(a**b)

729

In [32]:
#7. Floor Division (//)
print(a//b)

3

# 2. Assignment Operators: 

---

Assignment operators are used to assign values to variables:

In [0]:
# Declare variables
a=30
b=30

In [0]:
# '=' Operator
b = 20

In [36]:
# "+=" Operator
a+=b
print(a)

50

In [37]:
# '-=' Operator
a-=b
print(a)

30

In [38]:
# '*=' Operator
a*=b
print(a)

600

In [39]:
# '/=' Operator
a/=b
print(a)

30.0

In [40]:
# '%=' Operator
a%=b
print(a)

10.0

In [41]:
# '//=' Operator
a//=b
print(a)

0.0

In [42]:
# "**="
a**=b
print(a)

0.0

# 3. Comparison Operators:

---

Comparison operators are used to compare two values:

In [0]:
# Declare Variable
a = 30
b = 10

In [46]:
# Equal (==) Operator
print(a==b)

False

In [47]:
# Not equal (!=) Operator
print(a!=b)

True

In [49]:
# Greater than (>) Operator
print(a>b)

True

In [50]:
# Less than (<) Operator
print(a<b)

False

In [51]:
# Greater than or equal to (>=) Operator
print(a>=b)

True

In [52]:
# Less than or equal to (<=) Operator
print(a<=b)

False

# 4. Logical Operators:

---

Logical operators are used to combine conditional statements:

In [0]:
# Declare variables
a=10
b=50

In [62]:
# 'and' Operator : Returns True if both statements are true
print(a and b)
print(a < 5 and  b < 10)

50
False

In [63]:
# 'or' Operator : Returns True if one of the statements is true
print(a or b)
print(a < 5 or b < 4)

10
False

In [64]:
# 'not' Operator: Reverse the result, returns False if the result is true
print(not(a < 5 and b < 10))

True

# 5. Bitwise operators

---


Bitwise operators are used to compare (binary) numbers:

In [0]:
# Declare variable
a=10
b=35

In [67]:
# 'AND' (&) Operator : Sets each bit to 1 if both bits are 1
print(a&b)

2

In [68]:
# 'OR' (|) Operator: Sets each bit to 1 if one of two bits is 1
print(a|b)

43

In [69]:
# 'XOR' (^) Operator: Sets each bit to 1 if only one of two bits is 1
print(a^b)

41

In [70]:
# 'NOT' (~) Operator: Inverts all the bits
print(~a)

-11

In [71]:
# 'Zero fill left shift' (<<): Shift left by pushing zeros in from the right and let the leftmost bits fall off
print(a<<2)

40

In [72]:
# 'Signed right shift' (>>) : Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
print(a>>b)

0

# 6. Identity Operators

---
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [73]:
# 'is' Operator : Returns true if both variables are the same object
#Identity Operators

a=[1,3,5,7,'Python']
a=b
print(b is a)

True

In [74]:
# 'is not' Operator: Returns true if both variables are not the same object
print(a is not b)

False

# 7. Membership Operators

---

Membership operators are used to test if a sequence is presented in an object:

In [77]:
# 'in' Operator: Returns True if a sequence with the specified value is present in the object
list1=[1,10,100,"Data Science"]
print(30 in list1)

False

In [78]:
# 'not in' Operator: Returns True if a sequence with the specified value is not present in the object
print(20 not in list1)

True